.specialcard-container {
  position: relative;
  width: 96vw;
  min-height: 80vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
