.DealsContainer {
  position: relative;
  width: 96vw;
  height: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: auto;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
