.Cart_items_con {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.Cart_items {
  top: 20px;
  position: relative;
  width: 800px;
  min-height: 80vh;
  max-height: auto;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex: 60%;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px;
}
.cart_items_container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 10px;
}

.cart_img {
  position: relative;
  width: 150px;
  height: 80%;
  overflow: hidden;
}
.cart_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart_details {
  position: relative;
  width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.cart-btn-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-empty {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  color: gray;
}

.Cart_items_total {
  position: relative;
  flex: 30%;
  top: 20px;
  width: 500px;
  height: 40vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 3px;
  padding: 10px;
}

.price-details-head {
  position: relative;
  width: 100%;
  height: 20px;
  color: rgba(128, 128, 128, 0.66);
  border-bottom: 1px solid rgba(128, 128, 128, 0.66);
}
.details-price {
  width: 95%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.664);
  border-bottom: 1px dashed rgba(128, 128, 128, 0.66);
}
.price-details {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-details-price {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .Cart_items {
    flex: 100%;
  }
}

@media (max-width: 400px) {
  .cart_img {
    width: 100px;
  }
  .cart_items_container {
    align-items: center;
    width: 100vw;
  }
  .cart_details {
    width: 300px;
    height: 40%;
  }
  .cart_details {
    width: 100vw;
    h2 {
      font-size: 15px;
      width: 200px;
    }
    h4 {
      font-size: 10px;
    }
    .cart-btn-container {
      button {
        font-size: 10px;
      }
    }
  }
  .Cart_items_total {
    font-size: 15px;
  }
  .total-details-price h2 {
    font-size: 16px;
  }
}
