html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.bodyContent {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
