.Product-con-catr {
  position: relative;
  width: 96vw;
  height: 130px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 5px;
}
